<?xml version="1.0"?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="ctrl" connectionString="server=server;initial catalog=ctrl_new;user=sa;password=p@ssw0rd;"/>
    <add name="swan" connectionString="server=server;initial catalog=swan;user=sa;password=p@ssw0rd;"/>
    <add name="webdb" connectionString="server=server;initial catalog=webdb;user=sa;password=p@ssw0rd;"/>
    <add name="swanacc" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\server\siamvb\SWAN.mdb;Persist Security Info=False" providerName="System.Data.OleDb"/>
<!--<add name="swanacc" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=H:\swan\SWANoffline.mdb;Persist Security Info=False" providerName="System.Data.OleDb"/>-->
    <add name="md7_boi" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\server\siamvb\md7.mdb;Persist Security Info=False" providerName="System.Data.OleDb"/>
    <add name="md7_tax" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\server\pneumatic\md7.mdb;Persist Security Info=False" providerName="System.Data.OleDb"/>
    <add name="md2_boi" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\server\siamvb\md2.mdb;Persist Security Info=False;Jet OLEDB:Database Password=chenht" providerName="System.Data.OleDb"/>
    <add name="md2_tax" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\server\pneumatic\md2.mdb;Persist Security Info=False" providerName="System.Data.OleDb"/>
    <add name="md5_boi" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\server\siamvb\md5.mdb;Persist Security Info=False;Jet OLEDB:Database Password=chenht" providerName="System.Data.OleDb"/>
    <add name="md5_tax" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\server\pneumatic\md5.mdb;Persist Security Info=False" providerName="System.Data.OleDb"/>
    <add name="checkbal" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\server\siamvb\checkbal.mdb;Persist Security Info=False" providerName="System.Data.OleDb"/>
    <add name="md3p" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\server\siamvb\md3p.mdb;Persist Security Info=False;Jet OLEDB:Database Password=swan5133" providerName="System.Data.OleDb"/>

    <add name="QC_QA" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\server\siamvb\QACHECK\QA NEW\QA.mdb;Persist Security Info=False" providerName="System.Data.OleDb"/>
     </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
